$accent-red-dark-theme: (
    50 : #fce1e3,
    100 : #f7b5b9,
    200 : #f2848a,
    300 : #ed535b,
    400 : #e92e37,
    500 : #e50914,
    600 : #e20812,
    700 : #de060e,
    800 : #da050b,
    900 : #d30206,
    A100 : #fffbfb,
    A200 : #ffc8c8,
    A400 : #ff9595,
    A700 : #ff7b7c,
    accent-background: #303030,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary-red-dark-theme: (
    50 : #fbedec,
    100 : #f4d3d1,
    200 : #edb6b2,
    300 : #e59893,
    400 : #e0827b,
    500 : #da6c64,
    600 : #d6645c,
    700 : #d05952,
    800 : #cb4f48,
    900 : #c23d36,
    A100 : #ffffff,
    A200 : #ffdad9,
    A400 : #ffa9a6,
    A700 : #ff918c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

