.material-text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.material-full-width {
  width: 100%;
}

.one-line-card-header {

  .mat-card-header-text {
    width: calc(100% - 32px - 24px);

    mat-card-title {
      @extend .material-text-oneline;
    }
  }
}
