.mat-sidenav-container {
    height: 100vh;

    .mat-sidenav {
        min-width: 20%;
        text-align: center;

        .route-list-container {
            margin-top: 32px;

            .route-container {
                font-size: 1.2rem;
                padding: 8px;
            }
        }
    }

    .mat-sidenav-content {
        overflow: auto;
    }
}
