.dropbox-dashboard-wrapper {
    position: relative;

    .directory-wrappers {
        width: 90%;

        &.not-selected {
            margin: 16px auto;
        }

        .file-card-wrapper {
            display: inline-block;
            width: 248px;
            margin: 8px;
            transition: transform 260ms;

            &:hover {
                transform: scale(1.01);
            }

            mat-card {

                mat-card-header {    
                    width: 100%;
                }
            }

            img {
                max-height: 296px;
            }
        }
    }

    .info-wrapper {
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
    }

    .start-download-fab-wrapper {
        position: fixed;
        bottom: 32px;
        right: 32px;
    }
}

.text-oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}