.dropbox-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .download-form-wrapper {
        text-align: center;
    }

    .action-buttons {
        text-align: right;
    }
}
