
@import './app/styles/themed-custom-component.scss';
@import './app//styles/dark.theme.scss';
@import '~@angular/material/theming';
@import './app/styles/material.overrides.scss';
@import './app/styles/utilities.scss';


@include mat-core();


$app-dark-primary: mat-palette($primary-red-dark-theme);
$app-dark-accent: mat-palette($accent-red-dark-theme);
$app-dark-warn: mat-palette($mat-red);


$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);


@include angular-material-theme($app-dark-theme);
@include custom-components($app-dark-theme);


/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: mat-color($app-dark-accent, accent-background);
}

.red-dark-theme {
    @include angular-material-theme($app-dark-theme);
}
